.main__container {
  width: 90%;
  height: 100vh;
  margin: auto;
}

.page__title {
    font-size: 2rem;
    color: #1E205A;
    margin: 3rem 0 3rem 0;
    text-transform: uppercase;
}


.articles-container {
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.article-card {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

.article__img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.article-details {
    margin-left: 2rem;
    flex-grow: 1;
}

.article__header,
.article__content,
.article__count {
    text-decoration: none;
    color: #1E205A;
}

.article__header {
    font-size: 1rem;
    font-weight: 600;
}

.article__content,
.article__count {
    font-weight: 300;
    font-size: .8rem;
}

.article__published {
    float: right;
}

.edit__article {
    border: none;
    background-color: #1E205A;
    color: #ffffff;
    margin-top: 1rem;
    padding: .5rem 2rem;
    border-radius: 3px;
    text-align: center;
}

.footer {
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


