.create__article__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.left__article__container{
    width: 65%;
}

.right__article__container{
    width: 30%;
    margin-top: 3.2rem;
}

.article__list__header{
    color: #1E205A;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

.article__list__container{
    margin-top: 1rem;
}

.article__card{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.article__image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.article__body{
    margin-left: 1rem;
}

.article__card__title{
    color: #1E205A;
    font-weight: 600;
    margin-bottom: .5rem;
}

.article__card__content,
.article__card__span__text{
    font-size: .8rem;
    font-weight: 200;
}

.article__card__span__text{
    margin-top: .5rem;
}







