{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/articles.css' %}" />
{% endblock %}

{% block content %}
<div class="main__container">
    <h3 class="title"> {{query}} </h3>
    <div class="articles-container">
        {% if is_by_page %}
            {% for article in articles_by_page %}
                <div class="article-wrapper">
                    <a class="article-card" href="{% url 'read_article' article.title %}" style="text-decoration: none;">
                        {% if article.article_image %}
                            <img src="{{article.article_image.url}}" alt="{{article.title}}" class="article__img">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        <div class="article-details">
                            <h3 class="article__header">{{ article.title|truncatewords:10  }}</h3>
                            <p class="article__content">{{ article.content|truncatewords:15 }}</p>
                            <p class="article__count">Views: {{ article.view_count }} <span class="article__published">{{ article.published_date }}</span></p>
                        </div>
                    </a>
                    <a href="{% url 'edit_article' article.title %}" class="edit__article">Edit</a>
                </div>
            {% endfor %}
        {% else %}
            {% for article in articles %}
                <div class="article-wrapper">
                    <a class="article-card" href="{% url 'read_article' article.title %}" style="text-decoration: none;">
                        {% if article.article_image %}
                            <img src="{{article.article_image.url}}" alt="{{article.title}}" class="article__img">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        <div class="article-details">
                            <h3 class="article__header">{{ article.title|truncatewords:10  }}</h3>
                            <p class="article__content">{{ article.content|truncatewords:10 }}</p>
                            <p class="article__count">Views: {{ article.view_count }} <span class="article__published">{{ article.published_date }}</span></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
