{%extends 'main.html'%}
{% load static %}
{% block title %}Home{% endblock %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_form.css' %}" />
<link rel="stylesheet" href="{% static 'css/create_article.css' %}" />
{% endblock %}
{% block content %}
<div class="create__article__container">
  <div class="left__article__container">
      <h2 class="form__header">Create New Article</h2>
      <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="form__group">
            <label class="form__label" for="id_title">Title</label>
            {{ form.title}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_image">Page Name</label>
            {{ form.page_name}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Article Image</label>
            {{ form.article_image}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Content</label>
            {{ form.content}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Published Date</label>
            {{ form.published_date}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Allow to Comment</label>
            {{ form.allow_to_comment}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Category</label>
            {{ form.category}}
        </div>
        <div class="form__group">
            <label class="form__label" for="id_text">Tag</label>
            {{ form.tag}}
        </div>
        <button type="submit" class="save__btn">Save Article</button>
      </form>
  </div>
  {% if articles%}
  <div class="right__article__container">
    <h1 class="article__list__header">You Recently Created</h1>
    <div class="article__list__container">
      {% for article in articles %}
        <div class="article__card">
            {% if article.article_image %}
              <img src="{{article.article_image.url}}" alt="{{article.title}}" class="article__image">
            {% else %}
            <p>No image available</p>
            {% endif %}
          <div class="article__body">
            <h2 class="article__card__title">{{article.title}}</h2>
            <p class="article__card__content">{{article.content|truncatewords:20}}</p>
            <p class="article__card__span__text">Created By: {{article.author}}</p>
            <p class="article__card__span__text">Published at: {{article.published_date}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}