<nav class="nav__container">
  <h1 class="logo">VibeSphere</h1>
  <ul class="nav__list__container">
    <li class="nav__list">
      <a href="{% url 'welcome' %}" class="nav__list__item">Home</a>
    </li>
    <li class="nav__list">
      <a href="{% url 'pages' %}" class="nav__list__item">Pages</a>
    </li>
    <li class="nav__list">
      <a href="{% url 'show_all_articles' %}" class="nav__list__item">Blogs</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav__list">
      <a href="{% url 'create' %}" class="nav__list__item">Create</a>
    </li>
    <!-- <li class="nav__list">
      <a href="{% url 'welcome' %}" class="nav__list__item">Profile</a>
    </li> -->
    <li class="nav__list">
      <a href="{% url 'logout' %}" class="nav__list__item">Logout</a>
    </li>
    {% else %}
    <li class="nav__list">
      <a href="{% url 'login' %}" class="nav__list__item">Login</a>
    </li>
    <li class="nav__list">
      <a href="{% url 'register' %}" class="nav__list__item">Signup</a>
    </li>
    {% endif %}
  </ul>
</nav>
