{%extends 'main.html'%}
{% load static %}
{% block title %}Home{% endblock %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}" />
{% endblock %}
{% block content %}
<div class="page__container">
    <div class="page__create__btn__container">
       {% if user.is_authenticated %}
            {% if request.user.blogpage_set.exists %}
                <a href="{% url 'manage_page' user.id %}" class="create__link">
                    <button class="update__btn">Manage Page</button>    
                </a>
            {% else %}
                <a href="{% url 'create_page' %}" class="create__link">
                    <button class="create__btn">Create a Page</button>    
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="page__card__container">
        {% for page in pages%}
            <div class="page__card">
                <img src="{{page.profile_image.url}}" alt="{{page.title}}" class="page__card__image">
                <div class="page__body__container">
                    <h2 class="page__card__title">{{page.title}}</h2>
                    <p class="page__card__desc">Published In: {{ page.published_date|date:"F d, Y" }}</p>
                    <p class="page__card__status">Status: {{page.get_status_display}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}