{%extends 'main.html'%}
{% load static %}
{% block title %}Home{% endblock %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail__article.css' %}" />
{% endblock %}

{% block content %}
<div class="main__detail__container">
    <!-- Main Article Content -->
    <div class="detail__article">
        <div class="nested__container">
            <h1 class="detail__article__title">{{ article.title }}</h1>
            <p class="detail__article__author">Vibe from - {{ article.author }}</p>
            <p>{{ article.category.name }}</p>
            {% if article.article_image %}
                <img src="{{article.article_image.url}}" alt="{{article.title}}" class="detail__article__image">
            {% else %}
                <p>No image available</p>
            {% endif %}
            <p class="article__text__viewer">{{article.view_count}} viewers</p>
            <p class="article__text">{{ article.content }}</p>
            <p class="article__text">Published At: {{ article.published_date }}</p>
        </div>
        <div class="comments__section">
            <h3 class="comment__header">Feel free to share some of your vibe</h3>
            {% if user.is_authenticated %}
                <form class="comment__form__container" method="post">
                    {% csrf_token %}
                    <div class="comment__form__group">
                        <label class="comment__form__label" for="id_title">Comment</label>
                        {{ form.content}}
                    </div>
                    <button type="submit" class="comment__btn">Add Comment</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a> to add a comment.</p>
            {% endif %}
            {% for comment in article.comments.all %}
                <div class="comment__container">
                    <div class="comment__detail">
                        <p class="comment__text"><strong>{{ comment.author }}</strong> suggested:</p>
                        <p class="main__comment">{{ comment.content }}</p>
                    </div>
                    <p class="comment__date">{{ comment.created_date }}</p>
                </div>
            {% empty %}
                <p class="span__comment__text">No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>
    </div>

    <!-- Suggested Articles Sidebar -->
    <div class="suggested__container">
        <h3 class="suggested__container__title">Suggested Articles</h3>
        {% for article in suggested_articles %}
            <a href="{% url 'read_article' article.title %}" class="suggested__article__card">
                {% if article.article_image %}
                    <img src="{{article.article_image.url}}" alt="{{article.title}}" class="suggested__card__image">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <div class="suggested__article__details">
                    <h3 class="suggested__card__title">{{ article.title|truncatewords:5 }}</h3>
                    <p class="suggested__card__text">{{ article.content|truncatewords:10 }}</p>
                    <p class="suggested__card__text">{{ article.published_date }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
